<br/>
<div class="container" >
    <div class="row">
      <div class="col-lg-7">
        <div class="card"  >
            <!-- *ngIf="this.todoData.length" -->
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10"><h4 >My List</h4></div>
              <div class="col-lg-2">
                <span id="btnAdd" (click)="showAddTask()" mdbTooltip="Add Task"><i  class="fa fa-plus-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="row" *ngIf="this.toggleAddTask">
                  <div class="col-lg-5">
                      <div class="md-form">
                        <input mdbInput type="text" id="title" class="form-control" placeholder="I want to..."
                          [(ngModel)] = "todoItem.name" required #title="ngModel" name="title">
                        <!-- <label for="title" class="">Example label</label> -->
                      </div>
                  </div>

              <div class="col-lg-4" >
                  <div class="md-form">
                    <input mdbInput type="text" name="taskdate" class="form-control" [minDate]="this.todayDate"
                      [maxDate]="maxDate" #dp="bsDatepicker"
                      bsDatepicker [(bsValue)]="taskDate" placeholder="Select date"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                  </div>
                </div>
                  <div class="col-lg-1">

                    <div class="md-form">
                      <button type="button" (click)="addTodoList(todoItem.name)" class="btn btn-primary btn-sm"
                      [disabled]="!title.value"> Add </button>
                    </div>
                  </div>
                  <br/>
              </div>
              <h5>Today</h5>
                <br/>
              <div *ngIf="this.todayTask.length; else todaytask">

                <!-- <div class="form-check">
                    <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox1">
                    <label class="form-check-label" for="checkbox1">Classic checkbox</label>
                </div> -->
                <ul class="list-group" >
                  <li *ngFor='let item of todayTask'>
                      <!-- *ngIf="(item.taskDate | date:'yyyy-MM-dd')== (todayDate|date:'yyyy-MM-dd')" -->
                    <!-- Material checked -->
                    <div class="row">
                      <div class="col-lg-9">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="todoCheck_{{item.id}}"
                        [(ngModel)]='item.done' mdbInputDirective mdbTooltip="Check task to done" />
                      <label class="form-check-label done-{{item.done}}" for="todoCheck_{{item.id}}">{{item.name}}</label>
                    </div>
                      </div>
                      <div class="col-lg-1">
                          <a mdbTooltip="Edit Task" (click)="editTask(item)"><i class=" fa fa-pencil fa-lg"></i></a>
                      </div>
                      <div class="col-lg-2">                      
                        <span mdbTooltip="Delete Task"><i class="fa fa-remove fa-lg" aria-hidden="true" (click)='deleteTodo(item)'></i></span>
                      </div>
                    </div>
                    <br/>
                  </li>
                </ul>
                <div>
                  <button class="btn btn-primary btn-md" name="today" (click)='deleteAll($event)' >Delete All</button>
                </div>
            </div>
            <hr>

            <ng-template #todaytask>
                <label>No pending tasks for Today</label>
              </ng-template>
            <h5>Tomorrow</h5>
            <br>
            <div *ngIf="this.tomrTask.length ; else tomrwtask">

              <ul class="list-group" >
                <li *ngFor='let item of tomrTask'>
                    <!-- *ngIf="(item.taskDate | date:'yyyy-MM-dd') > (todayDate|date:'yyyy-MM-dd')" -->
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="todoCheck_{{item.id}}"
                          [(ngModel)]='item.done' mdbInputDirective  />
                        <label class="form-check-label done-{{item.done}}" >{{item.name}}</label>
                      </div>
                    </div>
                    <div class="col-lg-2">
                        <span><i class="fa fa-remove fa-lg" aria-hidden="true" (click)='deleteTodo(item)'></i></span>
                    </div>
                  </div>
                  <br/>
                </li>
              </ul>
              <div>
                <button class="btn btn-primary btn-md" name="tomorrow" (click)='deleteAll($event)' >Delete All</button>
              </div>
            </div>
            <ng-template #tomrwtask>
              <p>No pending tasks for Tomorrow</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-lg-5" >
          <!-- *ngIf = "showEdit" -->
        <div class="card">
          <div class="card-header">
              <h3>{{editData.name}}</h3>
          </div>
          <div class="card-body">
            <!-- <hr> -->
            <div class="row">
                <!-- <button type="button" class="PaneButton">
                <i class="far fa-clock fa-lg"></i>
                Add Reminder
                </button> -->
                <div class="col-lg-10">
                  <label>Sub Tasks</label>
                </div>
                <div class="col-lg-2">
                  <span id="btnAdd" (click)="addSubTask()" mdbTooltip="Add Task"><i  class="fa fa-plus-circle fa-lg"></i></span>
                </div>
                               
            </div>
            <!-- <div id="showSubTask">
              <input type="text" class="form-control"  placeholder="Add sub task" (focus) = "cloneTextbox()">
            </div> 
            <div id="cloneDiv">
              <br/>
            </div> -->
            
            <ng-template #template>
                <input type="text" class="form-control"  placeholder="Add sub task" (focus) = "insertView($event)">

              <input type="text" class="form-control"  placeholder="Add sub task" (focus) = "insertView($event)">
              <br/>
            </ng-template>
            
            <ng-container *ngTemplateOutlet="template"></ng-container>
            <ng-container #viewContainer></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>