
  
  <!-- Bootstrap row -->
  <div class="row" id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">          
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <h4>To Do</h4>
              </li>
              <!-- /END Separator -->
                <a routerLink="/personalTodo" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-home mr-3"></span>
                        <span class="">Personal</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
                <a routerLink="/workTodo" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-briefcase mr-3"></span>
                        <span class="menu-collapsed">Work</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
                <a routerLink="/todoGrocery" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-shopping-bag fa-fw mr-3"></span>
                        <span class="menu-collapsed">Grocery</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
                <a routerLink="/todoDone" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-check-circle fa-fw mr-3"></span>
                        <span class="menu-collapsed">Tasks Done</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
              <!-- Separator with title -->
              <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>OPTIONS</small>
              </li> -->
              <!-- /END Separator -->
              <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-calendar fa-fw mr-3"></span>
                      <span class="menu-collapsed">Calendar</span>
                  </div>
              </a>
              <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-envelope-o fa-fw mr-3"></span>
                      <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                  </div>
              </a> -->
              <!-- Separator without title -->  
              
          </ul><!-- List Group END-->
      </div><!-- sidebar-container END -->
      <!-- <div class="row"> -->
        <div class="col-lg-9">        
            <router-outlet></router-outlet>            
        </div>         
  </div><!-- body-row END -->