<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand" href="#">
      
    </div>
    
  </nav><!-- NavBar END -->
  
  
  <!-- Bootstrap row -->
  <div class="row" id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
          <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <h4>To Do</h4>
              </li>
              <!-- /END Separator -->
              <!-- Menu with submenu -->
           
              <!-- <a class="nav-link register-custom" routerLink="/home"><i class="fa fa-home fa-lg" ></i>Home</a> -->

              <!-- Submenu content -->
              <!-- <div id='submenu1' class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Charts</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Reports</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Tables</span>
                  </a>
              </div> -->
                <!-- <a routerLink="/todoList" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-edit fa-fw mr-3"></span>
                        <span class="menu-collapsed">My List</span>
                        <span class="submenu-icon ml-auto"></span> 
                    </div>
                </a> -->
                <a routerLink="/personalTodo" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-home mr-3"></span>
                        <span class="">Personal</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
                <a routerLink="/workTodo" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-briefcase mr-3"></span>
                        <span class="menu-collapsed">Work</span>
                        <!-- <span class="submenu-icon ml-auto"></span> -->
                    </div>
                </a>
              <a routerLink="/todoDone" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-check-circle fa-fw mr-3"></span>
                      <span class="menu-collapsed">Tasks Done</span>
                      <!-- <span class="submenu-icon ml-auto"></span> -->
                  </div>
              </a>
              <!-- Separator with title -->
              <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>OPTIONS</small>
              </li> -->
              <!-- /END Separator -->
              <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-calendar fa-fw mr-3"></span>
                      <span class="menu-collapsed">Calendar</span>
                  </div>
              </a>
              <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-envelope-o fa-fw mr-3"></span>
                      <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                  </div>
              </a> -->
              <!-- Separator without title -->  
              
          </ul><!-- List Group END-->
      </div><!-- sidebar-container END -->
      <!-- <div class="row"> -->
        <div class="col-lg-9">        
            <router-outlet></router-outlet>            
        </div>         
  </div><!-- body-row END -->