<div class="row">
  <div class="col-lg-6"><h3 class="lblCardHeading">{{this.todoType | titlecase}}</h3></div> 
</div>

<div class="card"  >              
  <div class="card-body">
    
    <div class="divTodoList">
      <!-- Collapse buttons -->

      <div class="row ">
        <div (click)="todayTab.toggle()" role="button"   mdbWavesEffect class="col-lg-10 headingParent">
          <h5 ><b><a mdbBtn class="waves-light"  >Today</a></b></h5>
        </div>
      
        <div class="col-lg-2">
          <h1 class="badge badge-pill badge-light">{{this.todayList.length}}</h1>
        </div>
      </div>
      <br/>
      <div mdbCollapse #todayTab="bs-collapse"  aria-expanded="true"  class="show" >
        <div *ngIf="this.todayList.length; ">
          <ul class="list-group">
              <li  *ngFor="let item of todayList">                              
                <div class="input-group mb-3 listPane">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" id="todoCheck_{{item.taskId}}"  (change) = "editTask(item)"
                        [(ngModel)]='item.done'  mdbTooltip="Check task to done" />                                          
                      </div>
                    </div>                 
                    <a class="txtSubTask form-control"  aria-label="Text input with checkbox" (click) = "editTask(item)">
                      <label class="done-{{item.done}}">{{item.name}}
                        <span class="reminderBadge">{{item.taskDate | date:'dd-MM-yyyy' }}  {{ item.taskReminder | date:'shortTime' }}</span>
                      </label>
                    </a>                                   
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span mdbTooltip="Delete Task"><i class="fa fa-remove fa-lg" aria-hidden="true" (click)='deleteTodo(item)'></i></span>
                      </div>
                    </div>
                </div> 
                           
              </li>
            </ul>
        </div>
      </div>
      <br>    
      <div class="row">
          <div (click)="upcomingTab.toggle()" mdbWavesEffect class="col-lg-10 headingParent">
            <h5 ><b><a mdbBtn color="primary" class="waves-light" >Upcoming</a></b></h5>
          </div>
          <div class="col-lg-2">
              <h1 class="badge badge-pill badge-light">{{this.upcomingList.length}}</h1>
          </div>
        </div>
        <br/>
        <div mdbCollapse #upcomingTab="bs-collapse" [isCollapsed]="true">        
            <div *ngIf="this.upcomingList.length; ">
                <ul class="list-group">
                    <li  *ngFor="let item of upcomingList">                              
                      <div class="input-group mb-3 listPane">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" id="todoCheck_{{item.taskId}}" (change)="onFilterChange($event)"
                              [(ngModel)]='item.done'  mdbTooltip="Check task to done" />                                          
                            </div>
                          </div>       
                         
                          <a class="txtSubTask form-control"  aria-label="Text input with checkbox" (click) = "editTask(item)">
                            <label class="done-{{item.done}}">{{item.name}}
                              <span class="reminderBadge">{{item.taskDate | date:'dd-MM-yyyy' }}  {{ item.taskReminder | date:'shortTime' }}</span>
                            </label>
                          </a>                                   
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span mdbTooltip="Delete Task"><i class="fa fa-remove fa-lg" aria-hidden="true" (click)='deleteTodo(item)'></i></span>
                            </div>
                          </div>
                      </div> 
                                 
                    </li>
                  </ul>
              </div>
        </div>

      <ng-template #noTaskMsg>
        <p>No pending tasks</p>
      </ng-template>
    </div>
    <hr>

    <div class="row" >            
      <div class="divAddTodo col-lg-12">        
        <input  type="text" id="title" class="form-control" placeholder="I want to..." 
          [(ngModel)] = "todoItem.name" required #title="ngModel" name="title" (change)="addTodoList(todoItem.name)">                    
        <button type="button" class="btnAddTodo" (click)="addTodoList(todoItem.name)" [disabled]="!title.value"  mdbTooltip="Add Task">
          <i [ngClass]="!title.value ? 'fa fa-arrow-circle-o-up fa fa-arrow-circle-up-disabled fa-2x' : 'fa fa-arrow-circle-o-up fa-2x'"></i>
        </button>
      </div>      
    </div>
        
  </div>
</div>
  
  